<section class="home">
    <div class="home-container">
        <div class="home__content">
            <h1 class="content__titulo">
                <span class="destaque">PubSimpson</span><br>
                Bar & Restaurante
            </h1>
            <p class="content__descricao">
                Somos um bar inspirado em The Simpsons.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in tempus velit, in accumsan nulla. Pellentesque at rhoncus velit.
            </p>
            <a routerLink="/cardapio" class="content__link">Veja nosso Cardápio</a>
        </div>
    </div>
</section>